# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Build artifacts
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# fastlane (in case we add it)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
